<div *ngIf="usuario || cadastro">
  <!-- Título  -->
  <div class="title-group">
    <h1 class="mat-h1">Adicionar Usuário</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="formUsuario" (ngSubmit)="cadastro ? cadastrarUsuario() : atualizarUsuario()" #formDirective="ngForm">
      <div class="fieldset">
        <mat-form-field appearance="outline">
          <input matInput placeholder="E-mail" formControlName="de_email" maxlength="255">
          <mat-error *ngIf="handleError('de_email', 'required')">
            E-mail é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="handleError('de_email', 'de_email') && !handleError('de_email', 'required')">
            Digite um endereço de e-mail válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Nome" formControlName="no_usuario" maxlength="50">
          <mat-error *ngIf="handleError('no_usuario', 'required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="fieldset">
        <mat-form-field appearance="outline">
          <input matInput placeholder="CPF" formControlName="nu_cpf" maxlength="11">
          <mat-error *ngIf="handleError('nu_cpf', 'required')">
            CPF é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Telefone" formControlName="nu_telefone" maxlength="11">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Função</mat-label>
          <mat-select formControlName="co_funcao">
            <mat-option [value]="funcao.co_funcao" *ngFor="let funcao of funcoes">{{funcao.nome}}</mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('co_funcao', 'required')">
            Função é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="ic_perfil_acesso">
            <mat-option [value]="perfil.key" *ngFor="let perfil of Perfis | keyvalue">{{perfil.value}}</mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('ic_perfil_acesso', 'required')">
            Perfil é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="botoes">
        <button type="button" mat-raised-button color="primary" (click)="voltar()"><mat-icon>arrow_back</mat-icon><span> Voltar</span></button>
        <button mat-raised-button color="warn"><mat-icon>save</mat-icon><span> Salvar</span></button>
      </div>
    </form>
  </div>
</div>