
<!-- Título  -->
<div class="title-group">
  <h1 class="mat-h1">Lista de Usuários</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Busca  -->
<div class="mat-elevation-z2 busca">
  <div class="fieldset">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Nome" [(ngModel)]="camposFiltro.nome">
      <button mat-button *ngIf="camposFiltro.nome" matSuffix mat-icon-button (click)="camposFiltro.nome=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Situação</mat-label>
      <mat-select [(ngModel)]="camposFiltro.situacao">
        <mat-option value="">Todos</mat-option>
        <mat-option value="A">Ativo</mat-option>
        <mat-option value="I">Inativo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Perfil</mat-label>
      <mat-select [(ngModel)]="camposFiltro.perfil">
        <mat-option value="">Todos</mat-option>
        <mat-option [value]="perfil.key" *ngFor="let perfil of Perfis | keyvalue">{{perfil.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="botoes">
    <button mat-raised-button color="primary" (click)="filtrarUsuarios()"><mat-icon>search</mat-icon><span> Pesquisar</span></button>
  </div>
</div>

<!-- Lista de usuários  -->
<div class="mat-elevation-z2 usuarios">
  <table mat-table [dataSource]="usuariosDataSource">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.de_email}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.no_usuario}} </td>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef> Perfil </th>
      <td mat-cell *matCellDef="let usuario"> {{Perfis[usuario.ic_perfil_acesso]}} </td>
    </ng-container>

    <ng-container matColumnDef="ativo">
      <th mat-header-cell *matHeaderCellDef> Habilitado </th>
      <td mat-cell *matCellDef="let usuario">
        <mat-slide-toggle class="" [checked]="usuario.ic_situacao == 'A'" (change)="setSituacao(usuario)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let usuario">
        <a routerLink="/usuario/{{usuario.id}}" title="Editar Usuário" [state]="{usuario: usuario}"><mat-icon>create</mat-icon></a>
        <a [routerLink]="" title="Deletar Usuário" (click)="deletarUsuario(usuario)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>

  <mat-paginator [length]="3" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

