<div *ngIf="mensagemService.mensagens.length">
  <h2>Mensagens</h2>
  <button class="clear" (click)="mensagemService.clear()">Limpar</button>
  <div *ngFor='let msg of mensagemService.mensagens'> {{msg}} </div>
</div>
