<div *ngIf="usuario || cadastro">
  <h2>{{usuario.nome | uppercase}} Detalhes</h2>
  
  <form class="form-usuario" [formGroup]="formUsuario">
    <div class="fieldset">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formUsuario.hasError('email') && !formUsuario.hasError('required')">
          Digite um endereço de e-mail válido
        </mat-error>
        <mat-error *ngIf="formUsuario.hasError('required')">
          E-mail é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="formUsuario.hasError('required')">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="fieldset">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf">
        <mat-error *ngIf="formUsuario.hasError('email') && !formUsuario.hasError('required')">
          Digite um CPF válido
        </mat-error>
        <mat-error *ngIf="formUsuario.hasError('required')">
          CPF é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Função</mat-label>
        <input matInput formControlName="funcao">
        <mat-error *ngIf="formUsuario.hasError('required')">
          Função é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Perfil</mat-label>
        <input matInput formControlName="perfil">
        <mat-error *ngIf="formUsuario.hasError('required')">
          Perfil é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="botoes">
    <button mat-raised-button (click)="voltar()">Voltar</button>
    <button mat-raised-button *ngIf="!cadastro" (click)="atualizarUsuario()">Salvar</button>
    <button mat-raised-button *ngIf="cadastro" (click)="cadastrarUsuario()">Cadastrar</button>
  </div>
</div>