.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.mat-button-wrapper .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
  margin-right: 8px;
}