
<mat-toolbar color="primary" class="header">
  <div>Usuários</div>
  <!-- <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="sidenav-btn">menu</mat-icon>
  </span> -->
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="false" fixedTopGap="0" fixedBottomGap="0">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="false" routerLink="/usuarios"> 
        <mat-icon>format_list_bulleted</mat-icon>Usuários
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/cadastro">
        <mat-icon>person_add</mat-icon>Cadastrar
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-mensagens></app-mensagens> -->